<ion-content [fullscreen]="true">

  <div class="profile-container">
    <div class="avatar">
      <img src="../../assets/LeonixLogo2.png" alt="Leonix Logo" class="base-image">
      <img src="../../assets/LeonixB&W.png" alt="Leonix B&W" class="hover-image">
    </div>

    <div class="name">
      <p class="title">NIEVE DE GARRAFA</p>
      <p class="slogan">La original de Durango</p>
    </div>
  </div>

  <ion-card class="navbar">
    <ion-buttons class="navbar-buttons">
      <ion-button routerLink="/home">
        <ion-icon slot="start" name="ice-cream-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-button>
      <ion-button routerLink="/gallery">
        <ion-icon slot="start" name="images-outline"></ion-icon>
        <ion-label>Galeria</ion-label>
      </ion-button>
      <ion-button routerLink="/history">
        <ion-icon slot="start" name="hand-left-outline"></ion-icon>
        <ion-label>Nosotros</ion-label>
      </ion-button>
      <ion-button routerLink="/contact">
        <ion-icon slot="start" name="mail-open-outline"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-button>
      <ion-button routerLink="/reconocenos">
        <ion-icon slot="start" name="musical-notes-outline"></ion-icon>
        <ion-label>Reconocenos</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-card>

</ion-content>
